* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropdown-container {
  width: min(30em, 90%);
  min-height: 32em;

  border-radius: 0.8em;
  padding: 0.5em;
}

.input {
  width: 100%;
  min-height: 4em;
  border: 2px solid #0689e0;
  border-radius: 0.8em;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-icons {
  width: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.hr {
  height: 1.5em;
  width: 100%;
}

.input-display {
  width: 25em;
  min-height: 3em;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5em;
  flex-wrap: wrap;
  padding: 0.5em;
}

.img {
  cursor: pointer;
}

.rotate {
  transform: rotate(180deg);
}

.rotate-back {
  transform: rotate(180deg);
}

.options {
  padding: 0.5em;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: start;
  justify-items: center;
  border-radius: 0.8em;
  margin-top: 0.5em;
  background-color: rgb(249, 250, 251);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
}

.options li {
  font-size: 1em;
  line-height: 2em;
  width: 100%;
  cursor: pointer;
  border-radius: 0.5em;
  padding-left: 0.5em;
  font-weight: 700;
}

.selected-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
  padding: 0.2em;
  border-radius: 0.4em;
  font-weight: 500;
  background-color: rgb(233, 243, 253);
}

.closeIcon {
  cursor: pointer;
}
